/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #333;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 1.46rem;
  overflow-x: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f6f6f6; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #3cbb58;
  font-style: italic; }

.token.punctuation {
  color: #333; }

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e01e5a; }

.token.function-name {
  color: #6196cc; }

.token.boolean,
.token.number,
.token.function {
  color: #f08d49; }

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #d29207; }

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #c42cd6; }

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #179215; }

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.inserted {
  color: green; }

html {
  font-size: 62.5%; }

section {
  max-width: 55rem;
  margin: 0 auto;
  width: calc(100% - 4rem); }

hr {
  width: 12rem;
  height: 1px;
  display: block;
  margin: 4rem auto;
  background-color: #fff;
  border: none; }

.heading-secondary {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem !important; }
  .heading-secondary--no-margin-top {
    margin-top: 0 !important; }

.heading-tertiary {
  font-weight: 500; }
  .heading-tertiary--margin {
    margin-bottom: 1rem; }

.inline-code {
  color: #e01e5a;
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 2px 5px;
  font-family: monospace;
  display: inline-block;
  line-height: 1.5;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap; }
  .inline-code--narrow {
    width: auto; }

.warning {
  background-color: #ffeebc;
  color: #4e4c05;
  border: 1px solid #797016;
  border-radius: 3px;
  padding: 2px 5px;
  font-family: monospace;
  display: inline-block;
  vertical-align: top;
  line-height: 1.5; }

.keepsize {
  margin-bottom: 1rem;
  width: calc(100% + 1rem);
  position: relative;
  right: 1rem;
  margin: 0 auto 2rem auto; }
  .keepsize .lumens__slide {
    height: 15rem;
    color: #333;
    background-color: #2b333f;
    line-height: 15rem;
    font-size: 5rem; }
    .keepsize .lumens__slide:nth-of-type(1) {
      width: 200px; }
    .keepsize .lumens__slide:nth-of-type(2) {
      width: 100px; }
    .keepsize .lumens__slide:nth-of-type(3) {
      width: 300px; }
    .keepsize .lumens__slide:nth-of-type(4) {
      width: 250px; }
    .keepsize .lumens__slide:nth-of-type(5) {
      width: 350px; }
    .keepsize .lumens__slide:nth-of-type(6) {
      width: 150px; }
    .keepsize .lumens__slide svg {
      height: 13rem;
      margin-top: 1rem; }
    .keepsize .lumens__slide:nth-child(odd) {
      background-color: #fff; }
      .keepsize .lumens__slide:nth-child(odd) a {
        color: #1a0dab; }
    .keepsize .lumens__slide a {
      color: #eee; }

.section-header {
  text-align: center;
  padding-top: 4rem;
  min-height: 100vh;
  padding-bottom: 8rem;
  position: relative; }
  .section-header__logo-container {
    margin: 0 auto 4rem;
    width: 20rem;
    border: 6px solid #fff;
    padding: 2rem; }
  .section-header__title {
    font-size: 4rem; }
  .section-header__subtitle {
    font-size: 2.6rem;
    font-weight: 100; }
  .section-header__intro {
    text-align: justify; }
  @media (max-width: 850px) {
    .section-header {
      padding-top: 6rem; } }
  @media (max-width: 476px) {
    .section-header {
      padding-top: 10rem; } }
  .section-header::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.1rem;
    height: 1.2rem;
    background-image: url("../front/arrow_down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

p#callback {
  text-align: center;
  margin: 0rem 1rem 2rem 1rem; }

.navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  text-align: right; }
  @media (max-width: 850px) {
    .navigation {
      top: 0;
      left: 0;
      transform: none;
      text-align: center;
      width: 100%;
      background-color: #2b333f;
      z-index: 10;
      margin: 0 !important;
      padding: 0.3rem 1rem 0 1rem;
      border-bottom: 1px solid #fff; } }
  .navigation__link {
    display: block;
    position: relative;
    padding-right: 2rem;
    color: #fff;
    cursor: pointer;
    margin: 1rem 0; }
    @media (max-width: 850px) {
      .navigation__link {
        display: inline-block;
        padding: 0 1rem; } }
    .navigation__link::after {
      content: " ";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border: 1px solid #fff;
      border-radius: 50%;
      top: 50%;
      right: 0;
      transform: translateY(-50%); }
      @media (max-width: 850px) {
        .navigation__link::after {
          display: none; } }
    .navigation__link--active::after {
      background-color: #fff; }
    @media (max-width: 850px) {
      .navigation__link--active {
        text-decoration: underline; } }

h1,
h2,
p,
nav,
code,
pre {
  margin: 0; }
  h1:first-child,
  h2:first-child,
  p:first-child,
  nav:first-child,
  code:first-child,
  pre:first-child {
    margin-top: 1.5rem; }
  h1:not(:last-child),
  h2:not(:last-child),
  p:not(:last-child),
  nav:not(:last-child),
  code:not(:last-child),
  pre:not(:last-child) {
    margin-bottom: 1.5rem; }

p {
  line-height: 3rem; }

b {
  font-weight: 500; }

a {
  text-decoration: none;
  color: #0081d5; }

ul {
  padding-left: 2.5rem; }

* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0; }

body {
  background-color: #2b333f;
  color: #fff;
  font-family: "Roboto";
  font-size: 1.8rem;
  font-weight: 300; }

article {
  width: 70rem;
  max-width: calc(100% - 3rem);
  text-align: justify;
  margin: 0 auto; }

h1,
h2,
h3,
h4 {
  font-weight: 100; }

.container {
  background-color: #3d4d65;
  text-align: center;
  padding: 2rem 0;
  margin: 2.5rem auto; }
  .container > p {
    margin: 1rem auto;
    max-width: 35rem; }

code {
  text-align: inherit;
  font-family: "consolas"; }

.hr--left {
  margin: 4rem 0 4rem 0; }

.defaultslider,
.autoplayslider,
.callbackslider,
.apislider,
.productslider,
.infiniteslider,
.arrowslider,
.responsiveslider {
  width: 100%;
  margin: 0 auto 2rem auto;
  text-align: center; }
  .defaultslider .lumens__slide,
  .autoplayslider .lumens__slide,
  .callbackslider .lumens__slide,
  .apislider .lumens__slide,
  .productslider .lumens__slide,
  .infiniteslider .lumens__slide,
  .arrowslider .lumens__slide,
  .responsiveslider .lumens__slide {
    height: 15rem;
    color: #333;
    background-color: #2b333f;
    line-height: 15rem;
    font-size: 5rem; }
    .defaultslider .lumens__slide svg,
    .autoplayslider .lumens__slide svg,
    .callbackslider .lumens__slide svg,
    .apislider .lumens__slide svg,
    .productslider .lumens__slide svg,
    .infiniteslider .lumens__slide svg,
    .arrowslider .lumens__slide svg,
    .responsiveslider .lumens__slide svg {
      height: 13rem;
      margin-top: 1rem; }
    .defaultslider .lumens__slide:nth-child(odd),
    .autoplayslider .lumens__slide:nth-child(odd),
    .callbackslider .lumens__slide:nth-child(odd),
    .apislider .lumens__slide:nth-child(odd),
    .productslider .lumens__slide:nth-child(odd),
    .infiniteslider .lumens__slide:nth-child(odd),
    .arrowslider .lumens__slide:nth-child(odd),
    .responsiveslider .lumens__slide:nth-child(odd) {
      background-color: #fff; }
      .defaultslider .lumens__slide:nth-child(odd) a,
      .autoplayslider .lumens__slide:nth-child(odd) a,
      .callbackslider .lumens__slide:nth-child(odd) a,
      .apislider .lumens__slide:nth-child(odd) a,
      .productslider .lumens__slide:nth-child(odd) a,
      .infiniteslider .lumens__slide:nth-child(odd) a,
      .arrowslider .lumens__slide:nth-child(odd) a,
      .responsiveslider .lumens__slide:nth-child(odd) a {
        color: #1a0dab; }
    .defaultslider .lumens__slide a,
    .autoplayslider .lumens__slide a,
    .callbackslider .lumens__slide a,
    .apislider .lumens__slide a,
    .productslider .lumens__slide a,
    .infiniteslider .lumens__slide a,
    .arrowslider .lumens__slide a,
    .responsiveslider .lumens__slide a {
      color: #eee; }

.responsiveslider {
  width: calc(100% + 20px);
  position: relative;
  right: 10px; }

.container button {
  border: 0;
  background-color: #0081d5;
  color: #fff;
  border-radius: 1rem;
  padding: 1.6rem;
  width: 10rem;
  outline: none;
  margin: 0rem 2rem 2rem 0;
  transition: 200ms ease-out; }
  .container button:hover {
    background-color: #1894e7; }

footer {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  color: #2b333f;
  text-align: center; }
  footer a {
    color: inherit;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0 1rem; }
    footer a:hover {
      color: #0081d5; }

/*# sourceMappingURL=style.css.map */