@import "./prism.scss";

html {
  font-size: 62.5%;
}

section {
  max-width: 55rem;
  margin: 0 auto;
  width: calc(100% - 4rem);
}

hr {
  width: 12rem;
  height: 1px;
  display: block;
  margin: 4rem auto;
  background-color: #fff;
  border: none;
}

.heading-secondary {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem !important;
  &--no-margin-top {
    margin-top: 0 !important;
  }
}

.heading-tertiary {
  font-weight: 500;
  &--margin {
    margin-bottom: 1rem;
  }
}

.inline-code {
  color: #e01e5a;
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 2px 5px;
  font-family: monospace;
  display: inline-block;
  line-height: 1.5;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap;

  &--narrow {
    width: auto;
    vertical-align: middle;
  }
}

.warning {
  background-color: #ffeebc;
  color: #4e4c05;
  border: 1px solid #797016;
  border-radius: 3px;
  padding: 2px 5px;
  font-family: monospace;
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
}

.freescroll {
  margin-bottom: 1rem;
}

.keepsize {
  margin-bottom: 1rem;
  width: calc(100% + 1rem);
  position: relative;
  right: 1rem;
  margin: 0 auto 2rem auto;

  .lumens__slide {
    height: 15rem;
    color: #333;
    background-color: #2b333f;
    line-height: 15rem;
    font-size: 5rem;

    &:nth-of-type(1) {
      width: 200px;
    }

    &:nth-of-type(2) {
      width: 100px;
    }

    &:nth-of-type(3) {
      width: 300px;
    }

    &:nth-of-type(4) {
      width: 250px;
    }

    &:nth-of-type(5) {
      width: 350px;
    }

    &:nth-of-type(6) {
      width: 150px;
    }

    svg {
      height: 13rem;
      margin-top: 1rem;
    }

    &:nth-child(odd) {
      background-color: #fff;
      a {
        color: #1a0dab;
      }
    }

    a {
      color: #eee;
    }
  }
}

.section-header {
  text-align: center;
  padding-top: 4rem;
  min-height: 100vh;
  padding-bottom: 8rem;
  position: relative;

  &__logo-container {
    margin: 0 auto 4rem;
    width: 20rem;
    border: 6px solid #fff;
    padding: 2rem;
  }

  &__title {
    font-size: 4rem;
  }

  &__subtitle {
    font-size: 2.6rem;
    font-weight: 100;
  }

  &__intro {
    text-align: justify;
  }

  @media (max-width: 850px) {
    padding-top: 6rem;
  }

  @media (max-width: 476px) {
    padding-top: 10rem;
  }

  &::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.1rem;
    height: 1.2rem;
    background-image: url("../front/arrow_down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

p#callback {
  text-align: center;
  margin: 0rem 1rem 2rem 1rem;
}

.navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  text-align: right;

  @media (max-width: 850px) {
    top: 0;
    left: 0;
    transform: none;
    text-align: center;
    width: 100%;
    background-color: #2b333f;
    z-index: 10;
    margin: 0 !important;
    padding: 0.3rem 1rem 0 1rem;
    border-bottom: 1px solid #fff;
  }

  &__link {
    display: block;
    position: relative;
    padding-right: 2rem;
    color: #fff;
    cursor: pointer;
    margin: 1rem 0;

    @media (max-width: 850px) {
      display: inline-block;
      padding: 0 1rem;
    }

    &::after {
      content: " ";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border: 1px solid #fff;
      border-radius: 50%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);

      @media (max-width: 850px) {
        display: none;
      }
    }

    &--active {
      &::after {
        background-color: #fff;
      }

      @media (max-width: 850px) {
        text-decoration: underline;
      }
    }
  }
}

h1,
h2,
p,
nav,
code,
pre {
  margin: 0;

  &:first-child {
    margin-top: 1.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

p {
  line-height: 3rem;
}

b {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #0081d5;
}

ul {
  padding-left: 2.5rem;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b333f;
  color: #fff;
  font-family: "Roboto";
  font-size: 1.8rem;
  font-weight: 300;
}

article {
  width: 70rem;
  max-width: calc(100% - 3rem);
  text-align: justify;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

.container {
  background-color: #3d4d65;
  text-align: center;
  padding: 2rem 0;
  margin: 2.5rem auto;

  > p {
    margin: 1rem auto;
    max-width: 35rem;
  }
}

code {
  text-align: inherit;
  font-family: "consolas";
}

.hr {
  &--left {
    margin: 4rem 0 4rem 0;
  }
}

.defaultslider,
.autoplayslider,
.callbackslider,
.apislider,
.productslider,
.infiniteslider,
.arrowslider,
.responsiveslider {
  width: 100%;
  margin: 0 auto 2rem auto;
  text-align: center;

  .lumens__slide {
    height: 15rem;
    color: #333;
    background-color: #2b333f;
    line-height: 15rem;
    font-size: 5rem;

    svg {
      height: 13rem;
      margin-top: 1rem;
    }

    &:nth-child(odd) {
      background-color: #fff;
      a {
        color: #1a0dab;
      }
    }

    a {
      color: #eee;
    }
  }
}

.responsiveslider {
  width: calc(100% + 20px);
  position: relative;
  right: 10px;
}

.container button {
  border: 0;
  background-color: #0081d5;
  color: #fff;
  border-radius: 1rem;
  padding: 1.6rem;
  width: 10rem;
  outline: none;
  margin: 0rem 2rem 2rem 0;
  transition: 200ms ease-out;

  &:hover {
    background-color: #1894e7;
  }
}

footer {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  color: #2b333f;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0 1rem;

    &:hover {
      color: #0081d5;
    }
  }
}
