* {
  box-sizing: border-box;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

body {
  background-color: #2b333f;
  color: #fff;
}

.heading-secondary {
  font-size: 28px;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

.title {
  text-align: center;
  margin: 20px;

  &__primary {
    font-size: 40px;
    display: block;
  }

  &__secondary {
    font-size: 30px;
    display: block;
  }
}

.container {
  background-color: #3d4d65;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 50px;

  > p {
    margin: 10px auto;
    max-width: 350px;
  }
}

.defaultslider,
.autoplayslider,
.callbackslider,
.apislider,
.productslider {
  width: 500px;
  margin: 0 auto;

  .lumens__slide {
    height: 150px;
    background-color: #fff;
    color: #333;
    line-height: 150px;
    font-size: 50px;
  }
}

.container button{
  border: 0;
  background-color: #0081D5;
  color: #fff;
  border-radius: 10px;
  padding: 16px;
  width: 100px;
  outline: none;
  margin: 10px;
  transition: 200ms ease-out;

  &:hover{
    background-color: #1894e7;
  }
}

footer{
  width: 100%;
  padding: 10px;
  background-color: #fff;
  color: #2b333f;
  text-align: center;

  a{
    color: inherit;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 10px;

    &:hover{
      color: #0081D5;
    }
  }
}