@import "./prism.scss";

html {
  font-size: 62.5%;
}

section {
  width: 55rem;
  margin: 0 auto;
}

hr {
  width: 12rem;
  height: 1px;
  display: block;
  margin: 4rem auto;
  background-color: #fff;
  border: none;
}

.heading-secondary {
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem !important;
  &--no-margin-top {
    margin-top: 0 !important;
  }
}

.heading-tertiary {
  font-weight: 500;
}

.inline-code {
  color: #e01e5a;
  background-color: #f6f6f6;
  border: 1px solid #dadada;
  border-radius: 3px;
  padding: 2px 5px;
  font-family: monospace;
  display: inline-block;
  line-height: 1.5;
  width: 100%;

  &--narrow {
    width: auto;
  }
}

.section-header {
  text-align: center;
  padding-top: 4rem;
  min-height: 100vh;
  position: relative;

  &__logo-container {
    margin: 0 auto 4rem;
    width: 20rem;
    border: 6px solid #fff;
    padding: 2rem;
  }

  &__title {
    font-size: 4rem;
  }

  &__subtitle {
    font-size: 2.6rem;
    font-weight: 100;
  }

  &__intro {
    text-align: justify;
  }

  &::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.1rem;
    height: 1.2rem;
    background-image: url("../front/arrow_down.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.navigation {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  text-align: right;

  &__link {
    display: block;
    position: relative;
    padding-right: 2rem;
    color: #fff;
    cursor: pointer;
    margin: 1rem 0;

    &::after {
      content: " ";
      display: block;
      position: absolute;
      width: 6px;
      height: 6px;
      border: 1px solid #fff;
      border-radius: 50%;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &--active{
      &::after{
        background-color: #fff;
      }
    }
  }
}


h1,
h2,
p,
nav,
code,
pre {
  margin: 0;

  &:first-child {
    margin-top: 1.5rem;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

p {
  line-height: 3rem;
}

b {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: #0081d5;
}

ul {
  padding-left: 2.5rem;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

pre {
  border: 1px solid;
}

body {
  background-color: #2b333f;
  color: #fff;
  font-family: "Roboto";
  font-size: 1.8rem;
  font-weight: 300;

  > article:last-of-type {
    margin-bottom: 2rem;
  }

  > article:not(:last-of-type) {
    &::after {
      display: block;
      position: static;
      content: " ";
      width: 10rem;
      height: 1px;
      background-color: #fff;
      margin: 2rem 0;
    }
  }
}

article {
  width: 70rem;
  max-width: calc(100% - 3rem);
  text-align: justify;
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  font-weight: 100;
}

.title {
  text-align: center;
  margin: 2rem;

  &__primary {
    font-size: 4rem;
    display: block;
  }

  &__secondary {
    font-size: 3rem;
    display: block;
  }
}

.container {
  background-color: #3d4d65;
  text-align: center;
  padding: 2rem 0;
  margin: 2.5rem auto;

  > p {
    margin: 1rem auto;
    max-width: 35rem;
  }
}

pre.language-js {
  text-align: left !important;
  width: 100%;
  margin: 3rem auto 1rem;
}

code {
  text-align: inherit;
  font-family: "consolas";
}

.defaultslider,
.autoplayslider,
.callbackslider,
.apislider,
.productslider,
.infiniteslider,
.arrowslider,
.responsiveslider {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .lumens__slide {
    height: 15rem;
    background-color: #fff;
    color: #333;
    line-height: 15rem;
    font-size: 5rem;

    a {
      color: #1a0dab;
    }
  }
}

.responsiveslider {
  width: calc(100% + 20px);
  position: relative;
  right: 10px;
}

.container button {
  border: 0;
  background-color: #0081d5;
  color: #fff;
  border-radius: 1rem;
  padding: 1.6rem;
  width: 10rem;
  outline: none;
  margin: 1rem 1rem 0 0;
  transition: 200ms ease-out;

  &:hover {
    background-color: #1894e7;
  }
}

footer {
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  color: #2b333f;
  text-align: center;

  a {
    color: inherit;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin: 0 1rem;

    &:hover {
      color: #0081d5;
    }
  }
}
